@media screen and (min-width: 700px) {
    .hero img {
        position: absolute;
    }

    .hero {
        position: relative;
    }

    html, body {
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    main {
        min-height: 100vh; /* Ensures the main section takes full screen height */
    }
    
    
    .data, .weather {
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        padding: 15px;
        border-radius: 10px;
        text-align: left;
    }

    .data h2 {
        text-align: center;
        background-color: #132513;
        color: white;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    .data {
        top: 20%;
        left: 5%;
        width: 50%;
    }
    
    .weather {
        width: 30%;
        bottom: 20px;
        right: 20px;
        text-align: left;
    }

    .weather-flex {
        padding-bottom: 5px;
        background-color: #132513;
        color: white;
        border-radius: 5px;
        padding-left: 10px;
    }

    .weather-flex img {
        display: none;
    }

    .weather-flex h2::after {
        content: '⛅'
    }
    
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #132513; /* Adjust as needed */
        text-align: center;
        padding: 5px 
    }

}