* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: 'Quicksand', 'sans-serif';
    --text-font: 'Nunito', 'serif';
    --primary-color: #132513;
}

header h1 {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: var(--text-font);
    margin-bottom: 15px;
}

.hero img {
    margin: 0 auto;
    width: 100%;
    border-bottom: 8px solid var(--heading-font);
}

.data {
    text-align: center;
    padding-bottom: 40px;
}

.data h2 {
    padding: 10px 0 20px 0;
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 2rem;
}

.data p {
    font-family: var(--heading-font);
    padding: 5px;
    width: 80%;
    margin: 0 auto;
}

.weather h2 {
    text-align: center;
    padding-top: 20px;
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 2rem;
}

.weather {
    text-align: center;
    border-top: 1px solid rgba(174, 167, 167, 0.655);
    padding-bottom: 40px;
}

.weather img {
    width: 20%;
}

.weather p {
    font-family: var(--heading-font);
    padding: 5px;
    width: 80%;
    margin: 0 auto;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: var(--text-font);
}