* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  
}


p {
	margin: 1rem;
	/* border: 1px solid rgb(0 0 0 /0.1); */
	/* padding: 0.5rem; */
	/* background-color: #eee; */
}

.navigation .logo{
    font-size: 35px; 
    font-weight: 600; 
    color: #0a0a0a;
    padding-right: 650px;
    padding-top: 0px;
}

.h2{
    display: grid;
    text-align: center;
    padding-top: 20px;
    
}


/* Container for temple figures */
.temples-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr )); /* Responsive grid */
    gap: 20px;
    justify-items: center;
    padding-top: 40px;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Styling for figure elements */
figure {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Image styling */
figure img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ccc;
}

/* Caption styling */
figcaption {
    font-size: 1.1em;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}


/* Mobile view: Ensure images and captions are responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    .temples-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Smaller columns for smaller screens */
    }

    figure {
        padding: 10px;
    }
}



/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: rgb(150, 235, 250);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}


footer {
    background-color: rgb(150, 235, 250);
    color: rgb(14, 18, 19);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    font-size: 1rem;
}